<div class="row">
  <div class="col-lg-12 col-xl-6 mt-3">
    <mat-card class="aw-mat-card">
      <mat-card-content>
        <div style="height: 250px">
          <canvas
            baseChart
            [data]="doughnutChartData"
            [labels]="genderName"
            [chartType]="doughnutChartType"
            [colors]="doughnutChartColors"
            [options]="doughnutChartOptions"
          >
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-12 col-xl-6 mt-3">
    <mat-card class="aw-mat-card-column-graph">
      <mat-card-content>
        <div class="d-flex align-items-center justify-content-center" style="height: 319px">
          <canvas
            baseChart
            [datasets]="barChartData"
            [labels]="statusName"
            [options]="barChartOptions"
            [legend]="false"
            [chartType]="barChartType"
          >
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
