<app-aw-layout-list pageTitle="Manage Reminder" pageSubtitle="List all reminders">
  <ng-container slot="action-buttons">
    <app-aw-rich-button routerLink="/admin/reminders/add" class="ml-3">
      <mat-icon>add</mat-icon>
      Add
    </app-aw-rich-button>
  </ng-container>

  <ng-container slot="page-filter" >
    <section class="search-box d-flex justify-content-between mt-3">
      <div class="d-flex flex-wrap">
        <app-aw-filter [filterGroup]="filterGroup"
                       [selectedGroups]="getMultipleFilters(reminderListCriteria?.status)"
                       (valueChange)="filterChangeValue($event)"></app-aw-filter>
        <app-aw-filter-calendar-level-picker class="ml-2" [isInitialize]="isInitialize"
                                             [calendarOptionConfig]="selectedCalendar"
                                             [showResetButton]="true"
                                             (calendarChange)="calendarChange($event)" [labelButton]="labelButton"></app-aw-filter-calendar-level-picker>
      </div>
      <app-aw-search-box (valueChange)="searchFilterChange($event)"
                         [value]="reminderListCriteria?.filter || ''"
                         [hasError]="!this.dataSource?.data.length && reminderListCriteria?.filter?.toString()?.length > 0"></app-aw-search-box>
    </section>
  </ng-container>

  <ng-container slot="page-table">
    <section class="aw-table">
      <div class="table-demand">
        <div class="width-full overflow-auto">
         <table mat-table matSort [dataSource]='dataSource' matSortDisableClear
               (matSortChange)="sortData($event)">

          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef class="col-id"> No.</th>
            <td mat-cell
                *matCellDef="let row, let i = index;"> {{(reminderListCriteria.defaultCriteria.pageIndex - 1) * reminderListCriteria.defaultCriteria.pageSize + i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let row"> {{row.title}} </td>
          </ng-container>


          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let row">
              <quill-view [content]="row.description"></quill-view>
            </td>
          </ng-container>


          <ng-container matColumnDef="Candidate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidate </th>
            <td mat-cell *matCellDef="let row">
              <a [routerLink]="'/admin/candidate/candidateDetail/'+ row.candidate?.id"
                 *ngIf="! (row.candidate === undefined || row.candidate === null)">{{row.candidate?.fullName}}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="Date & time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date & time </th>
            <td mat-cell *matCellDef="let row"> {{row.dateReminder | awDateFormat}} </td>
          </ng-container>

          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let row">
              <mat-slide-toggle class="ml-2" (change)="checkStatus(row.id, row.active)" [checked]="row.active">
              </mat-slide-toggle>
            </td>
          </ng-container>


          <!-- COLUMN ACTION -->
          <ng-container matColumnDef='Action'>
            <th mat-header-cell *matHeaderCellDef
                class="col-actions">{{'action'}}</th>
            <td mat-cell *matCellDef='let row' class="col-actions d-flex justify-content-start ml-n1">
              <div class="center-action-button p-0">
                <button (click)="edit(row.id)"><span>Modify</span></button>
                <button [matMenuTriggerFor]="actionMenu"
                        [disableRipple]="true" [matMenuTriggerData]="getRemainderRow(row)" mat-icon-button
                        style="width: 0;">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef='displayedColumns; sticky: true'></tr>
          <tr mat-row *matRowDef='let row; let i = index; columns: displayedColumns'
              [class.row-selected]='false'></tr>
          <tr class='mat-row no-data-row' *matNoDataRow>
            <td class='mat-cell no-data-cell' [colSpan]='dataSource.data.length'></td>
          </tr>
        </table>
        </div>
        <mat-menu #actionMenu="matMenu" class="common-aw-menu aw-mat-menu mr-1 aw-selection-box-container" xPosition="before">
          <ng-template matMenuContent let-row="row">

            <button mat-menu-item (click)="view(row.id)">
              <div class='d-flex flex-row justify-content-start align-items-center'>
                <img class="delete-icon mr-2" src="assets/icons/view.svg" alt="view icon">
                <span class='cancel-icon'>View</span>
              </div>
            </button>
            <button mat-menu-item  (click)="delete(row.id)">
              <div class='d-flex flex-row justify-content-start align-items-center'>
                <img class="delete-icon mr-2" src="assets/icons/delete.svg" alt="delete icon">
                <span class='cancel-icon'>Delete</span>
              </div>
            </button>
          </ng-template>
        </mat-menu>
      </div>
    </section>
  </ng-container>


  <ng-container slot="page-pagination">
    <section class="pagination d-flex justify-content-center my-2">
      <app-aw-pagination [pageIndex]="reminderListCriteria.defaultCriteria.pageIndex"
                         [pageSize]="reminderListCriteria.defaultCriteria.pageSize"
                         [length]="total"
                         (pageChanged)="pageEvent($event)"
                         [hasFilter]="true">
      </app-aw-pagination>
    </section>
  </ng-container>
</app-aw-layout-list>
