label.header-label {
  color: var(--aw-color-2e2e2e);
  text-align: center;
  font: normal normal 600 14px/17px Rubik;
  line-height: 26px;
}

label.header-text {
  color: var(--aw-color-2e2e2e);
  text-align: center;
  font: normal normal normal 13px/15px Rubik;

  min-width: 116px;
  border: 0.5px solid var(--aw-color-c4ccd8);
  border-radius: 5px;
  display: flex;
  line-height: 24px;
  // justify-content: space-evenly;
}


mat-icon.arrow {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: var(--aw-color-3b82f6);
}

.mat-calendar-table {
  border: 1px solid #e3e3e3 !important;
}
