.navigation-container {
  height: 60px;
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 10px;

  .sub-navigation {
    cursor: pointer;
    height: 40px;
    padding-right: 1rem;
    transition: all .3s ease;
    background: var(--aw-text-secondary) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #9db2bf1a;
    border-radius: 20px;
    opacity: 1;
    margin-left: 10px;

    span {
      font-weight: bold;
      color: var(--aw-text-white) !important;
      display: inline-block;
      margin-left: 10px !important;

      @media (max-width: 1366px) {
        margin-left: 3px !important;
      }
    }
  }
}

@media (max-width: 1400px) {
  .btn-text {
    font-size: 12px !important;
  }
}
