/* input selection */
// override material style.
.common-mat-menu-panel.mat-menu-panel {
  border-radius: 7px;
  max-width: none !important;
  box-shadow: 0 1px 9px #8dc2e548 !important;
  margin-top: 5px;
}
