APP_SCHEMES=http
APP_ADDRESS=10.2.50.5
APP_PORT=8080
DB_CLIENT_MYSQL=mysql
DB_HOST_MYSQL=localhost
DB_PORT_MYSQL=3306
DB_NAME_MYSQL=api-ng
DB_USER_MYSQL=root
DB_PASS_MYSQL=allweb17
DATABASE_URL="${DB_CLIENT_MYSQL}://${DB_USER_MYSQL}:${DB_PASS_MYSQL}@${DB_HOST_MYSQL}:${DB_PORT_MYSQL}/${DB_NAME_MYSQL}"
SIGN_SERVER_LOGIN="pps#test"
SIGN_SERVER_PASS=ySsPUR23
CERTIFICATE_BASE=https://preprod-api.certigna.com/otf/v1.0
SIGNATURE_BASE=https://preprod-signature.dhimyotis.com:1004/api/v1
AES_ALGORITHM=aes-128-ecb
AES_ENCRYPT_KEY=F3229A0B371ED2D9441B830D21A390C3