.label-description {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

ngx-file-drag-drop {
  max-width: 100%;
}

.mat-standard-chip {
  height: auto !important;
}
.savebutton {
  margin-right: 5px;
}
.chip:hover{
  cursor: pointer;
}
