<div
  class="common-input-selection__panel"
  (click)="setCustomStyle()"
  appAwTooltip
  [tooltipContent]="errorMsg"
  [shouldShowTooltip]="isShowError"
  cdkDropList (cdkDropListDropped)='reorderItems($event);'
>
  <ng-container *ngFor="let item of selectionCriteria">
    <div>
      <div class="source-selected" cdkDrag>
        {{ item.value || '' }}
        <mat-icon (click)="remove(item.key)">close</mat-icon>
      </div>
    </div>
  </ng-container>
  <button
    class="add-source-item"
    (menuOpened)='mainMenuOpen()' (menuClosed)='mainMenuClose()'
    [matMenuTriggerFor]="inputSelectionDialog"
    [class.error]="isShowError"
  >
    {{ addSourceBtnLabel }}
  </button>
</div>
<mat-menu #inputSelectionDialog>
  <div class="input-selection__list-item__panel">
    <div
      class="input-selection__item"
      *ngFor="let item of datasource"
      [class.active]="getIsActive(item.key) || datasource.length === 1"
      (click)="toggleSelection(item.key)"
      [title]="item.value"
    >
      {{ item.value }}
    </div>
    <div class="no-data-present" *ngIf="datasource.length === 0">
      No data round
    </div>
  </div>
</mat-menu>
