<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-blue ">
  <!-- Brand Logo -->
  <a routerLink="/" class="brand-link">
    <div class="user-panel border-0">
      <div class="pull-left image top-sidebar">
        <img src="{{assetPrefix}}/assets/img/all-web-logo.png" alt="Allweb Logo" class="img-circle">
        <span class="brand-text ml-3">ALLWEB RMS</span>
      </div>
    </div>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" [class.child-menu]="node.level > 0" >
          <button class="w-100 text-left" [routerLink]="node.link" mat-button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact:
            true }">

            <mat-icon class="mat-icon-rtl-mirror menu-icon">{{node.icon}}</mat-icon>
            <span class="menu-name block pl-1">{{node.name}}</span>
          </button>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" >
          <button class="w-100 text-left" mat-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror menu-icon">
              {{node.icon}}
            </mat-icon>
            <span class="menu-name block pl-1">{{node.name}}</span>
            <mat-icon class="let-right pt-1 pr-2 expand-icon">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
        </mat-tree-node>
      </mat-tree>
    </nav>
  </div>
</aside>
