.date-icon {
  right: 9px;
  color: var(--aw-bg-primary);
  cursor: pointer;
  top: 8px;
}

.error-icon {
  color: var(--aw-bg-danger-normal);
}

.position-relative {
  height: 0 !important;
}

.aw-form-control {
  cursor: pointer;
}
