<cxm-smartflow-custom-header></cxm-smartflow-custom-header>

<div class="about-container">
    <div class="relative mb-36">
      <img class="about-logo" src="assets/images/cxm-logo/DigitalExperience-byTessi-blanc-1000px.png" />
      <div class="version-logo">{{platformVersion}}</div>
    </div>

    <div class="mb-8 py-8">
      <cxm-smartflow-page-header>{{'Digital Experience Platform'|translate|uppercase}}</cxm-smartflow-page-header>
      <cxm-smartflow-version class="mx-auto"></cxm-smartflow-version>
    </div>
</div>

<cxm-smartflow-footer [leftFooters]='leftFooters' [rightFooters]='rightFooters'></cxm-smartflow-footer>
