
.calendar-button {
  padding: 0.75rem 16px;
  font: normal normal 500 14px/16px Rubik;
  border-radius: 20px;
  background: var(--aw-bg-secondary) 0 0 no-repeat padding-box;
  color: var(--aw-color-ffffff);
  border: none;
}

.button-reset{
  padding: 0.75rem 16px;
  font: normal normal 500 14px/16px Rubik;
  border-radius: 20px;
  background: var(--aw-color-ffffff) 0 0 no-repeat padding-box;
  border: var(--aw-bg-secondary) 1px solid !important;
  color: var(--aw-bg-secondary);
  border: none;
}


mat-list-option {
  border-radius: 8px;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 40px;
}

.mat-list-single-selected-option, .mat-list-single-selected-option:hover,
.mat-list-single-selected-option:focus {
  background: var(--aw-bg-secondary) 0 0 no-repeat padding-box;
  color: var(--aw-color-ffffff);
}

.calendar-button-options {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
  padding: 0.75rem 16px;
  font: normal normal 400 14px/16px Rubik;
  border-radius: 20px;
  text-align: left;
  border: none;
}

.calendar-button-options.active {
  background-color: var(--aw-bg-secondary) !important;
  color: var(--aw-color-ffffff);
}

.calendar-button-options:hover,.calendar-button-options:active {
  background-color: rgba(0, 0, 0, 0.04);
}
