<!--<div class="container-fluid is-pos-relative" appCanAccess perm="Candidate:add">-->
<!--  <app-loading-indicator [isloading]="('CreateCandidateComponent'|swIsLoading|async)"></app-loading-indicator>-->
<!--  <mat-card>-->
<!--    <h1>Add Candidate</h1>-->
<!--    <mat-card-content>-->
<!--      <div class="row">-->
<!--        <div class="col-sm-12 text-center">-->
<!--          <div class="circle">-->
<!--            <img [src]="coverImage || defualtIcon" alt="Profile"/>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row mt-2">-->
<!--        <div class="col-sm-12 text-center">-->
<!--          <div>-->
<!--            <div class="upload-btn-wrapper">-->
<!--              <button mat-raised-button color="warn" (click)="clearImage()">Clear</button>-->
<!--              <button mat-raised-button color="primary" class="mx-2">Upload<input type="file" name="myfile"-->
<!--                                                                                  (change)="openImage($event)"-->
<!--                                                                                  accept=".png, .jpeg, .jpg"/></button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <form #form="ngForm">-->
<!--        <div class="row">-->
<!--          &lt;!&ndash; left form  &ndash;&gt;-->
<!--          <div class="col-sm-6">-->

<!--            <mat-form-field>-->
<!--              <mat-label>Salutation</mat-label>-->
<!--              <mat-select [(ngModel)]="candidate.salutation" name="salutation" #salutation="ngModel" required-->
<!--                          tabindex="1" appAutoFocus>-->
<!--                <mat-option *ngFor="let item of salutations" [value]="item.title">{{item.title}}</mat-option>-->
<!--              </mat-select>-->
<!--              <button mat-button *ngIf="candidate.salutation" matSuffix mat-icon-button aria-label="Clear" tabindex="-1"-->
<!--                      (click)="clearSalutation()">-->
<!--                <mat-icon>close</mat-icon>-->
<!--              </button>-->
<!--              <mat-error *ngIf="salutation.hasError('required')">-->
<!--                {{this.validationMessage.requied}}-->
<!--              </mat-error>-->
<!--            </mat-form-field>-->

<!--            <mat-form-field>-->
<!--              <mat-label>First Name</mat-label>-->
<!--              <input type="text" matInput [(ngModel)]="candidate.firstname" name="firstname" #firstname="ngModel"-->
<!--                     maxlength="256"-->
<!--                     required tabindex="2">-->
<!--              <button tabindex="-1" mat-button *ngIf="firstname.value" matSuffix mat-icon-button aria-label="Clear"-->
<!--                      tabindex="-1"-->
<!--                      (click)="clearFirstname()">-->
<!--                <mat-icon>close</mat-icon>-->
<!--              </button>-->
<!--              <mat-error *ngIf="firstname.hasError('required')">-->
<!--                {{this.validationMessage.requied}}-->
<!--              </mat-error>-->
<!--              <mat-hint *ngIf="firstname.value" align="end">{{firstname.value.length}} / 256</mat-hint>-->
<!--            </mat-form-field>-->

<!--            <mat-form-field>-->
<!--              <mat-label>Last Name</mat-label>-->
<!--              <input type="text" matInput [(ngModel)]="candidate.lastname" name="lastname" #lastname="ngModel"-->
<!--                     maxlength="256" required tabindex="3">-->
<!--              <button mat-button *ngIf="lastname.value" matSuffix mat-icon-button aria-label="Clear" tabindex="-1"-->
<!--                      (click)="clearLastname()">-->
<!--                <mat-icon>close</mat-icon>-->
<!--              </button>-->
<!--              <mat-error *ngIf="lastname.hasError('required')">-->
<!--                {{this.validationMessage.requied}}-->
<!--              </mat-error>-->
<!--              <mat-hint *ngIf="lastname.value" align="end">{{lastname.value.length}} / 256</mat-hint>-->
<!--            </mat-form-field>-->

<!--            <mat-form-field>-->
<!--              <mat-label>Gender</mat-label>-->
<!--              <mat-select [(ngModel)]="candidate.gender" name="gender" required #gender="ngModel"-->
<!--                          (selectionChange)="checkGender()" tabindex="4">-->
<!--                <mat-option value="Male">Male</mat-option>-->
<!--                <mat-option value="Female">Female</mat-option>-->
<!--              </mat-select>-->
<!--              <button mat-button *ngIf="gender.value" matSuffix mat-icon-button aria-label="Clear" tabindex="-1"-->
<!--                      (click)="clearGender()">-->
<!--                <mat-icon>close</mat-icon>-->
<!--              </button>-->
<!--              <mat-error *ngIf="gender.hasError('required')">-->
<!--                {{this.validationMessage.requied}}-->
<!--              </mat-error>-->
<!--            </mat-form-field>-->


<!--            <mat-form-field class="w-50">-->
<!--              <mat-label>Date of birth</mat-label>-->
<!--              <input type="text" matInput [ngxMatDatetimePicker]="picker" #dateOfBirth="ngModel" required-->
<!--                     [(ngModel)]="candidate.dateOfBirth" name="dateOfBirth"-->
<!--                     placeholder="Choose a date"/>-->
<!--              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--              <ngx-mat-datetime-picker [enableMeridian]="true" #picker>-->
<!--              </ngx-mat-datetime-picker>-->
<!--              <mat-error *ngIf="dateOfBirth.hasError('required')">{{this.validationMessage.requied}}</mat-error>-->
<!--            </mat-form-field>-->

<!--            <mat-form-field>-->
<!--              <mat-label>Year of Experiences</mat-label>-->
<!--              <input matInput type="text" [(ngModel)]="candidate.yearOfExperience"-->
<!--                     #yearOfExperience="ngModel" name="yearOfExperience"/>-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--          &lt;!&ndash; right form  &ndash;&gt;-->
<!--          <div class="col-sm-6">-->
<!--            <mat-form-field>-->
<!--              <mat-label>Email</mat-label>-->
<!--              <input type="email" matInput placeholder="Ex. admin@gmail.com" [(ngModel)]="candidate.email" name="email"-->
<!--                     email="true" #email="ngModel" [pattern]="emailPartern" required tabindex="5">-->
<!--              <button mat-button *ngIf="candidate.email" matSuffix mat-icon-button aria-label="Clear" tabindex="-1"-->
<!--                      (click)="clearEmail()">-->
<!--                <mat-icon>close</mat-icon>-->
<!--              </button>-->
<!--              <mat-hint *ngIf="email.value" align="end">{{email.value.length}} / 256</mat-hint>-->
<!--              <mat-error *ngIf="email.hasError('email') && !email.hasError('required') && email.hasError('pattern')">-->
<!--                {{this.validationMessage.email.partern}}-->
<!--              </mat-error>-->
<!--              <mat-error *ngIf="email.hasError('required')">-->
<!--                {{this.validationMessage.email.required}}-->
<!--              </mat-error>-->
<!--            </mat-form-field>-->

<!--            <mat-form-field>-->
<!--              <mat-label>Telephone</mat-label>-->
<!--              <input [textMask]="{mask: mask, guide: false}" placeholder="012 345 6789" matInput minlength="11"-->
<!--                     maxlength="12" required type="tel" [(ngModel)]="candidate.telephone" name="telephone"-->
<!--                     #telephone="ngModel" tabindex="6">-->
<!--              <button mat-button *ngIf="candidate.telephone" matSuffix mat-icon-button aria-label="Clear" tabindex="-1"-->
<!--                      (click)="clearTelephone()">-->
<!--                <mat-icon>close</mat-icon>-->
<!--              </button>-->
<!--              <mat-error *ngIf="telephone.hasError('required')">-->
<!--                {{this.validationMessage.requied}}-->
<!--              </mat-error>-->
<!--              <mat-error *ngIf="telephone.hasError('minlength')">-->
<!--                {{this.validationMessage.telephone.minLength}}-->
<!--              </mat-error>-->
<!--              <mat-error *ngIf="telephone.hasError('pattern')">-->
<!--                {{this.validationMessage.telephone.partern}}-->
<!--              </mat-error>-->
<!--            </mat-form-field>-->

<!--            <mat-form-field>-->
<!--              <mat-label>University</mat-label>-->
<!--              <mat-select multiple [(ngModel)]="listUniversity" name="university" #university="ngModel" required-->
<!--                          tabindex="7">-->
<!--                <mat-option>-->
<!--                  <ngx-mat-select-search placeholderLabel="search name ...."-->
<!--                                         noEntriesFoundLabel="'no matching data ...'" [(ngModel)]="filterUniversity"-->
<!--                                         name="filterUniversity"-->
<!--                                         (ngModelChange)="onFilterUniversity()">-->
<!--                    <mat-icon>Search</mat-icon>-->
<!--                  </ngx-mat-select-search>-->
<!--                </mat-option>-->
<!--                <mat-option *ngFor="let university of universities" [value]="university.id">{{university.name}}-->
<!--                </mat-option>-->
<!--                <button class="w-100" color="primary" mat-button (click)="addUniversity()"-->
<!--                        *ngIf="this.universities === null || this.universities?.length === 0">-->
<!--                  <mat-icon>add</mat-icon>-->
<!--                  Add new university-->
<!--                </button>-->
<!--              </mat-select>-->
<!--              <mat-error *ngIf="university.hasError('required')">-->
<!--                {{this.validationMessage.requied}}-->
<!--              </mat-error>-->
<!--              <button mat-button *ngIf="listUniversity" matSuffix mat-icon-button aria-label="Clear" tabindex="-1"-->
<!--                      (click)="clearUniversity()">-->
<!--                <mat-icon>close</mat-icon>-->
<!--              </button>-->
<!--            </mat-form-field>-->

<!--            <mat-form-field>-->
<!--              <mat-label>GPA</mat-label>-->
<!--              <input type="number" matInput [(ngModel)]="candidate.gpa" name="gpa" #gpa="ngModel" placeholder="0.00"-->
<!--                     maxlength="4" tabindex="8">-->
<!--              <button mat-button *ngIf="candidate.gpa" matSuffix mat-icon-button aria-label="Clear" tabindex="-1"-->
<!--                      (click)="clearGpa()">-->
<!--                <mat-icon>close</mat-icon>-->
<!--              </button>-->
<!--            </mat-form-field>-->


<!--            <mat-form-field>-->
<!--              <mat-label>Priority</mat-label>-->
<!--              <mat-select [(ngModel)]="candidate.priority" name="priority" #priority="ngModel" tabindex="8">-->
<!--                <mat-option *ngFor="let item of prioritys" [value]="item.title">{{item.title}}</mat-option>-->
<!--              </mat-select>-->
<!--              <button mat-button *ngIf="priority.value" matSuffix mat-icon-button aria-label="Clear" tabindex="-1"-->
<!--                      (click)="clearPriority()">-->
<!--                <mat-icon>close</mat-icon>-->
<!--              </button>-->
<!--            </mat-form-field>-->

<!--            <mat-form-field>-->
<!--              <mat-label>Status</mat-label>-->
<!--              <mat-select [(ngModel)]="candidate.statusId" name="status_candidate" #status_candidate="ngModel" required-->
<!--                          tabindex="9">-->
<!--                <mat-option *ngFor="let s of statuses" [value]="s.id">-->
<!--                  {{s.title}}-->
<!--                </mat-option>-->
<!--              </mat-select>-->
<!--              <button mat-button *ngIf="status_candidate.value" matSuffix mat-icon-button aria-label="Clear"-->
<!--                      tabindex="-1"-->
<!--                      (click)="clearStatusCandidate()">-->
<!--                <mat-icon>close</mat-icon>-->
<!--              </button>-->
<!--              <mat-error *ngIf="status_candidate.hasError('required')">-->
<!--                {{this.validationMessage.requied}}-->
<!--              </mat-error>-->
<!--            </mat-form-field>-->

<!--          </div>-->
<!--        </div>-->

<!--        <div class="div d-flex flex-column ">-->
<!--          <mat-label class="label-description">Description</mat-label>-->
<!--          <quill-editor [(ngModel)]="candidate.description" name="description" [maxLength]="'225'" tabindex="10">ff-->
<!--          </quill-editor>-->
<!--        </div>-->


<!--        <div class="w-100 mt-3 mb-2">-->
<!--          <ngx-file-drag-drop type="file" activeBorderColor="#3F51B5" emptyPlaceholder="Upload Files"-->
<!--                              [accept]="acceptType" (valueChanged)="openFiles($event)" multiple="true"-->
<!--                              [(ngModel)]="fileDragAndDrop" name="fileDragAndDrop" tabindex="11">-->
<!--          </ngx-file-drag-drop>-->
<!--        </div>-->

<!--        <div class="row mb-2">-->
<!--          <div class="d-flex flex-row">-->
<!--            <div *ngFor="let item of this.candidate.filenames">-->
<!--              <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" tabindex="12">-->
<!--                <mat-icon>{{this.getFileIcon(item)}}</mat-icon>-->
<!--              </button>-->
<!--              <mat-menu #menu="matMenu" matMenuContent>-->
<!--                <button mat-menu-item (click)="previewFile(item)">Preview</button>-->
<!--                <button mat-menu-item (click)="removeFile(item)">Remove</button>-->
<!--              </mat-menu>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="child-end bottom-back-button x-10">-->
<!--          <button mat-raised-button color="warn" (click)="back()">Cancel</button>-->
<!--          <button type="submit" mat-raised-button color="primary" class="mr-2" (click)="onSubmit()"-->
<!--                  [disabled]="form.invalid" tabindex="13">Save-->
<!--          </button>-->
<!--        </div>-->
<!--      </form>-->

<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->

<!--<button mat-raised-button color="primary" class="my-3" (click)="back()" class="bottom-back-button" tabindex="16">-->
<!--  <i class="fas fa-chevron-circle-left mr-1"></i>Back-->
<!--</button>-->
