
<mat-dialog-content mat-dialog-content>
  <div class="d-flex flex-row justify-content-between">
    <h2 class="flex-grow-1 text-center">Change Status</h2>
    <button mat-icon-button matTooltip="Close" [mat-dialog-close]="false" cdkFocusInitial>
      <mat-icon>close</mat-icon>
    </button>
  </div>
   <div class="text-center">
    <p> Do you want to change Candidate's status?</p>
   </div>
</mat-dialog-content>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" [mat-dialog-close]="false" class="mb-2">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" class="mb-2">Ok</button>
</div>
