<div class="wrapper zindex bg-allweb">
  <nav class="main-header navbar navbar-expand">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="text-white toggle-hamburger-menu"
          mat-icon-button
          data-widget="pushmenu"
          role="button"
        >
          <mat-icon>menu</mat-icon>
        </a>
      </li>
    </ul>
    <!-- ./Left menu -->

    <app-search-bar class="mx-auto"></app-search-bar>
    <!-- ./Search box -->

    <ul *appShowAuthed="true" class="navbar-nav">
      <li class="nav-item align-self-center mx-3">
        <app-notification></app-notification>
      </li>
      <li class="nav-item dropdown mr-4">
        <a class="d-flex justify-content-center align-items-center" data-toggle="dropdown" [matMenuTriggerFor]="menu" href="#">
          <mat-icon class="user-icon">account_circle</mat-icon>
          <span class="text-white mx-2 text-md profile-name">{{ currentUser }}</span>
        </a>

        <mat-menu #menu="matMenu" class="aw-profile-panel-container">
          <div class="aw-profile-panel">
            <a class="aw-profile-panel-item" mat-menu-item (click)="logout()">
              <mat-icon>login</mat-icon>
              Logout
            </a>
          </div>
        </mat-menu>
      </li>
    </ul>
    <!-- ./Right menu -->
  </nav>
</div>

<mat-progress-bar
  mode="indeterminate"
  class="progress-show"
  *ngIf="isLoading | async"
></mat-progress-bar>
<!-- ./Awaiting progress bar -->
