:host {
  display: flex;
  // width: 100vw;
  // height: 100vh;
}

.content-routing {
  display: block;
  // width: 100vw;
  // height: 100vh;
  padding-top: 80px;
  padding-bottom: 64px;
  flex-grow: 1;
}
