.content-email {
  color: #0c5460;
  background-color: #d1ecf1;
}

.fieldstyle {
  padding-top: 30px;
}

:host ::ng-deep {
  .aw-form-group {
    .btn-container {
      input {
        text-transform: capitalize;
      }
    }
  }
  .ql-toolbar{
    background-color: #b9cbf1 !important;
    border-radius: 10px 10px 0 0;
  }
}

::ng-deep {
  .aw-selection-box-container {
    button {
      text-transform: capitalize;
    }
  }
}

.container-mail-body{

  .mail-body{
    position: absolute;
    z-index: 901;
    padding: 10px 15px 10px 10px;
    border: 1px solid var(--aw-bg-secondary);
    border-radius: 10px;
    background-color: white;
    .title-pop-up{
      margin-bottom: 3px;
    }
    .contain-button{
      overflow-y: scroll;
      overflow-x: hidden;
      width: 300px;
      height: 150px;
    }
    button{
      width: 100%;
      margin: 2px;
      padding-left: 5px;
      border-radius: 5px;
      text-align: left;
      font-size: 13px;
      border: 1px white solid;
      text-transform: capitalize;
      &:hover {
        background-color: var(--aw-bg-secondary);
        color: white;
      }
    }
  }
}


