.aw-breadcrumb {
  height: 27px;
  margin: 0 !important;
  margin-bottom: 8px !important;
  padding: 0 !important;
  background: none !important;

  .line {
    padding: 0 0.25rem;
    font-size: 16px;
    font-weight: 200;
    vertical-align: middle;
    transform: translateY(1px);
  }

  ul {
    display: flex;
    padding: 0;
  }

  li {
    list-style: none;

    &:last-child {
      pointer-events: none;

      a {
        cursor: context-menu;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  li a {
    height: 14px;
    font: 500 12px/14px Rubik;
    font-size: 11px;
    letter-spacing: 0;
    color: #2e2e2e;
    text-align: left;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
