.aw-snackbar-bottom-right {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 10px;
  position: absolute;
  right: 1vw;
  bottom: 1vh;
}

.custom-aw-snackbar {
  .success, .info, .error {
    max-width: 351px;
    padding: 1vh 1vh 2vh;
    border-radius: 10px;
    opacity: 1;
  }

  .success {
    background: #04C60B 0 0 no-repeat padding-box;
  }

  .info {
    background: #3B82F6 0 0 no-repeat padding-box;
  }

  .error {
    background: #E50909 0 0 no-repeat padding-box;
  }

  .icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .material-icons {
      cursor: pointer;
      color: #FFFFFF;
      font-weight: 500;
      opacity: 1;
    }
  }

  .message {
    width: 258px;
    font: normal normal 600 18px/22px Rubik;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    word-break: break-word;
    margin: auto;
  }
}
