<form [formGroup]="validateForm" class="pos-relative">
  <app-loading-indicator [isloading]="('UserPasswordFormComponent'|swIsLoading|async)"></app-loading-indicator>

  <div class="d-flex flex-column">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="model.password" [formControl]="validateForm.controls.password" tabindex="1" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" [(ngModel)]="model.confirm" [formControl]="validateForm.controls.confirm" tabindex="2" />
      <mat-error *ngIf="validateForm.controls.confirm.invalid">Confirm password is required</mat-error>
      <mat-error *ngIf="validateForm.controls.confirm?.errors?.confirmPasswordValidator">Passsword and Confirm Password
        didn't match.</mat-error>
    </mat-form-field>

    <mat-checkbox [ngModel]="model.istemp" [formControl]="validateForm.controls.istemp">Temporary password
    </mat-checkbox>

    <div class="child-between">
      <button mat-flat-button color="primary" type="submit" (click)="saveChange()" tabindex="3">Save changes</button>
    </div>
  </div>
</form>
