<div class="pb-3">
  <div class="child-between m-0 p-0 mb-1">
    <h2 class="mat-h2 m-0 p-0 self-center">Status Candidate</h2>
    <button mat-icon-button matTooltip="Close" class="self-center" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div class="d-flex flex-column">
      <h4 class="my-2 d-flex">
        <span class="labeler w-25">Title: </span>
        <span class="">{{data.title}}</span>
      </h4>

      <h4 class="my-2 d-flex">
        <span class="labeler w-25">Created At: </span>
        <span class="">{{data.createdAt|awDateFormat}}</span>
      </h4>

      <h4 class="my-2 d-flex">
        <span class="labeler w-25">Last modified: </span>
        <span class="">{{data.updatedAt|awDateFormat }}</span>
      </h4>

      <h4 class="my-2 d-flex">
        <span class="labeler w-25">Status: </span>
        <span class="">{{active}}</span>
      </h4>

      <h4 class="my-2 d-flex flex-column">
        <span class="labeler w-25">Description: </span>
        <quill-view [content]="data.description"></quill-view>
      </h4>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="d-flex flex-row-reverse">
    <button mat-raised-button color="warn" [mat-dialog-close]="false" cdkFocusInitial>Close</button>
  </mat-dialog-actions>
</div>
